//
//  Shared.xcconfig
//  Fottos
//
//  Created by Rene Candelier on 1/2/19.
//  Copyright © 2019 Novus Mobile. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLICKR_API_KEY = 2334b237eb3d59ffba9ec0a61a8242fc
FLICKR_SECRET = a20ca7dd8605cc80
